In [1]:

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [27]:
df = pd.read_csv("med.txt")

In [29]:
df.shape

(553809, 8)

In [30]:
def swap_coordinates (dataframe):
    #Intercambia las coordenadas de los viajes en 
    # la region [38 , 50]x[-76, 73]
    # la region de principarl de trabajo
    # (cuidad de NY) es : [-76, 73]x[38 , 50]
    city_interchange = (
        (dataframe["pickup_longitude"] > 38)&
        (dataframe["pickup_longitude"] < 50)&
        (dataframe["pickup_latitude"] > -76)&
        (dataframe["pickup_latitude"] < -73)&
        (dataframe["dropoff_longitude"] > 38)&
        (dataframe["dropoff_longitude"] < 50)&
        (dataframe["dropoff_latitude"] > -76)&
        (dataframe["dropoff_latitude"] < -73)
        )

    dataframe.loc[city_interchange] = dataframe.loc[city_interchange].rename(columns={
        'pickup_longitude':'pickup_latitude',
        'pickup_latitude':'pickup_longitude',
        'dropoff_latitude':'dropoff_longitude',
        'dropoff_longitude':'dropoff_latitude'})
    return

In [31]:
swap_coordinates(df)

In [33]:
def clean (dataframe):
    swap_coordinates(df)
    clean_data= dataframe[
        (-180.0 <= dataframe["pickup_longitude"])&
        (dataframe["pickup_longitude"] <= 180.0)&
        (-90.0 <= dataframe["pickup_latitude"])&
        (dataframe["pickup_latitude"] <= 90.0)&
        (-180.0 <= dataframe["dropoff_longitude"])&
        (dataframe["dropoff_longitude"] <= 180.0)&
        (-90.0 <= dataframe["dropoff_latitude"])&
        (dataframe["dropoff_latitude"] <= 90.0)&
        (2.0 <= dataframe["fare_amount"])&
        (dataframe["fare_amount"] <= 200)&
        (0.0<=dataframe["passenger_count"])&
        (dataframe["passenger_count"]<= 8)]
    
    return clean_data

count     553809
unique         1
top        False
freq      553809
dtype: object

count     553809
unique         1
top        False
freq      553809
dtype: object